.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search {
  height: 5vh;
  margin-bottom: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: fixed;
}

.search h1 {
  font-size: 4em;
  margin-bottom: 1vh;
}
.searchTerm {
  width: 15vw;
  border: 3px solid #006dcc;
  padding: 5px;
  height: 30px;
  border-radius: 5px;
  color: #9dbfaf;
}
